<h1>Welcome! We know you are hear because you love animals as much as we do!</h1>


<p> First time here? No worries, Let's get you started! </p>

<br>
<p> To create an account <%= link_to  "Click Here:", signup_path %></p>


<p> To login with your FB or Twitter account <%= link_to  "Click Here:", "auth/github" %> </p>