<h2>Welcome! We know you are here because you love animals as much as we do!</h2>
<p> Our mission is simple...We want to connect your love for animals with organizations that are passionate about perserving their livelihood. BE apart of the cause.....effect the world!</p>


<h3> First time here? No worries, Let's get you started! </h3>

<p> To create an account <%= link_to  "Click Here:", signup_path %></p>


<p> To login with your Github account <%= link_to  "Click Here:", "auth/github" %> </p>