<div class="header">
<h1><div class="title"> Animal Lovers Pledge </div></h1>
<% if current_user %>
 <div class="username">
 <i> Hey, what's up, <b> <%= current_user.username %></b> </i>
 </div>
 <% end %>


<div class="nav">
 <div><a href="/organizations"> Organizations</a></div>

<% if authorized? %>
<div><a href="/"> Home </a></div>
  <div><a href="/organizations/new"> Add New Organization </a></div>
  <div><a href="/logout"> Log Out </a></div>

 <% elsif logged_in? %>
   <div><a href="/logout"> Log Out </a></div>
 <% else%>
   <div><a href="/"> Home </a></div>
  <div><a href="/login"> Log In </a></div>
  <div><a href="/signup"> Signup </a></div>
 <% end %>
 </div>
 </div>
